// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $base-color;
    position: relative;
    z-index: -10;
}
.container {
    width: 75%;
    margin: 0 auto; 
}
.container--flex {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    align-content: center; //don't use align-items, it stretches
}