/**
 * Basic typography style for copy text
 */
.header__title {
    @include typographyStyle($font-stack, 75px, bold, 1.1, $base-color);
}

.header__icons_social {
    @include typographyIcons(15px, $base-color);
}

.header__action_icon {
    i {
        @include typographyIcons(40px, $base-color);
    }
}

.about__content_title {
    @include typographyStyle($font-stack, 23px, bold, 30px, $header-color);
}

.about__content_content {
    @include typographyStyle($font-stack ,15px ,400 ,28px ,$text-color);
}

.slider__item_icon {
    i {
        @include typographyIcons(30px ,$header-color);
    }
}

.slider__item_title {
    @include typographyStyle($font-stack, 15px, 500, 16.5px, $header-color);
}

.slider__item_des {
    @include typographyStyle($font-stack, 13px, 500, 24px, $text-color);
}