// action animation
@keyframes action {
    0% {
        transform: translateY(50px);
    }
    15% {
        transform: translateY(-10px);
    }
    25% {
        transform: translateY(50px); 
    }
    35% {
        transform: translateY(20px);
    }
    70% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(50px);
    }
}

@keyframes headerAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}