@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@-webkit-keyframes action {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  15% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  25% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  35% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  70% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
@keyframes action {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  15% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  25% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  35% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  70% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: white;
  position: relative;
  z-index: -10;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: inherit;
  -ms-flex-line-pack: center;
      align-content: center;
}

/**
 * Basic typography style for copy text
 */
.header__title {
  font-family: "Poppins", sans-serif;
  font-size: 75px;
  font-weight: bold;
  line-height: 1.1;
  color: white;
}

.header__icons_social {
  font-size: 15px;
  color: white;
}

.header__action_icon i {
  font-size: 40px;
  color: white;
}

.about__content_title {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: bold;
  line-height: 30px;
  color: #333333;
}

.about__content_content {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #748182;
}

.slider__item_icon i {
  font-size: 30px;
  color: #333333;
}

.slider__item_title {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 16.5px;
  color: #333333;
}

.slider__item_des {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  color: #748182;
}

.portfolio__title {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.1;
  color: #333333;
  text-transform: uppercase;
}

.portfolio__category_link {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  color: #748182;
}

.portfolio__gallery_overlay_subtitle {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  color: black;
}

.portfolio__gallery_overlay_heading {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1;
  color: black;
}

.header {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../img/headerbg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/headerbg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 79%, 21% 99%, 0 79%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 79%, 21% 99%, 0 79%, 0 0);
}

.header__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 20px;
}

.header__icons {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header__icons_social {
  padding: 0 15px;
}

.header__action {
  padding: 30px 70px;
}

.header__action_icon i {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-animation: action 2s infinite;
          animation: action 2s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.about {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 76% 96%, 0 78%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 80%, 76% 96%, 0 78%, 0 0);
  background: #f5f5f5;
  padding: 300px 0;
  margin-top: -170px;
  position: relative;
  z-index: -1;
}

.about__image {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 50px;
}

.about__image_img {
  width: 100%;
  -webkit-box-shadow: -28px 54px 0px 3px #dddddd;
  box-shadow: -28px 54px 0px 3px #dddddd;
}

.about__content {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding-top: 70px;
}

.about__content_title {
  margin-bottom: 30px;
}

.about__content_content {
  margin-bottom: 30px;
}

.slider {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider__item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__item_icon {
  padding: 5px 10px;
}

.slider__item_title {
  margin-bottom: 15px;
}

.slider__item_content {
  padding-left: 20px;
}

.portfolio {
  width: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 21% 96%, 0 78%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 80%, 21% 96%, 0 78%, 0 0);
  background: white;
  padding: 300px 0;
  position: relative;
  margin-top: -300px;
  z-index: -2;
}

.portfolio__title {
  margin-bottom: 10px;
}

.portfolio__category {
  list-style: none;
  margin-bottom: 30px;
}

.portfolio__category_item {
  display: inline-block;
  padding-right: 15px;
}

.portfolio__gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__gallery_item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  padding: 20px;
  padding-left: 0;
}

.portfolio__gallery_link {
  display: block;
  width: 100%;
  position: relative;
}

.portfolio__gallery_link:hover .portfolio__gallery_overlay {
  background: rgba(221, 221, 221, 0.5);
}

.portfolio__gallery_link:hover .portfolio__gallery_img {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.portfolio__gallery_link:hover .portfolio__gallery_overlay_title {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.portfolio__gallery_img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio__gallery_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(221, 221, 221, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio__gallery_overlay_title {
  text-align: center;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */