// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  padding: 2% 0;
  background-color: $black-color;
  text-align: center;
}

.footer__socials {
  display: flex;
  justify-content: center;
  transform: scale(0.6);
}

.footer__socials_item {
  padding: 0 2%;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.footer__link {
  padding: 1% 3%;
  border-radius: 50px;
  display: inline-block;
  margin: 2% 0;
  background-color: $base-color;
  border: 2px solid $base-color;
  transition: all 0.3s ease-in-out;
  &:hover {
    border: 2px solid $base-color;
    background: transparent;
  }
}