// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar__container {
  width: 90%;
  margin: 0 auto;
}

.header__container {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}