// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: SF;
  src: url("../../fonts/SF-UI-Display-Ultralight.otf");
}

@font-face {
  font-family: SF_regular;
  src: url("../../fonts/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: SF_bold;
  src: url("../../fonts/sf-ui-display-bold-58646a511e3d9.woff");
}
