// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.about {
    @include hexagonStyleSections($light-gray, 76% 96%);
    padding: 300px 0;
    margin-top: -170px;
    position: relative;
    z-index: -1;
}

.about__image {
    flex-basis: 40%;
    padding: 50px;
}

.about__image_img {
    width: 100%;
    -webkit-box-shadow: -28px 54px 0px 3px rgba(221,221,221,1);
    -moz-box-shadow: -28px 54px 0px 3px rgba(221,221,221,1);
    box-shadow: -28px 54px 0px 3px rgba(221,221,221,1);
}

.about__content {
    flex-basis: 60%;
    padding-top: 70px;
}

.about__content_title {
    margin-bottom: 30px;
}

.about__content_content {
    margin-bottom: 30px;
}

.slider {
    flex-basis: 100%;
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
}

.slider__item {
    flex-basis: 33.33%;
    padding: 10px;
    display: flex;
}

.slider__item_icon {
    padding: 5px 10px;
}

.slider__item_title {
    margin-bottom: 15px;
}

.slider__item_content {
    padding-left: 20px;
}

//portfolio
.portfolio {
    width: 100%;
    @include hexagonStyleSections($base-color, 21% 96%);
    padding: 300px 0;
    position: relative;
    margin-top: -300px;
    z-index: -2;
}

.portfolio__title {
    margin-bottom: 10px;
}

.portfolio__category {
    list-style: none;
    margin-bottom: 30px;
}

.portfolio__category_item {
    display: inline-block;
    padding-right: 15px;
}

.portfolio__gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.portfolio__gallery_item {
    flex-basis: 33.33%;
    padding: 20px;
    padding-left: 0;
}

.portfolio__gallery_link {
    display: block;
    width: 100%;
    position: relative;
    &:hover {
        .portfolio__gallery_overlay {
            background: rgba(221, 221, 221, 0.5);
        }
        .portfolio__gallery_img {
            filter: blur(4px);
        }
        .portfolio__gallery_overlay_title {
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.portfolio__gallery_img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
}

.portfolio__gallery_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(221, 221, 221, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.portfolio__gallery_overlay_title {
    text-align: center;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}