// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.about {
    @include hexagonStyleSections($light-gray, 76% 96%);
    padding: 300px 0;
    margin-top: -170px;
    position: relative;
    z-index: -1;
}

.about__image {
    flex-basis: 40%;
    padding: 50px;
}

.about__image_img {
    width: 100%;
    -webkit-box-shadow: -28px 54px 0px 3px rgba(221,221,221,1);
    -moz-box-shadow: -28px 54px 0px 3px rgba(221,221,221,1);
    box-shadow: -28px 54px 0px 3px rgba(221,221,221,1);
}

.about__content {
    flex-basis: 60%;
    padding-top: 70px;
}

.about__content_title {
    margin-bottom: 30px;
}

.about__content_content {
    margin-bottom: 30px;
}

.slider {
    flex-basis: 100%;
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
}

.slider__item {
    flex-basis: 33.33%;
    padding: 10px;
    display: flex;
}

.slider__item_icon {
    padding: 5px 10px;
}

.slider__item_title {
    margin-bottom: 15px;
}

.slider__item_content {
    padding-left: 20px;
}   