// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.about {
    @include hexagonStyleSections($light-gray, 76% 96%, 0 78%);
    padding: 300px 0;
    margin-top: -170px;
    position: relative;
    z-index: -1;
}

.about__image {
    flex-basis: 40%;
    padding: 50px;
}

.about__image_img {
    width: 100%;
    -webkit-box-shadow: -28px 54px 0px 3px rgba(221,221,221,1);
    -moz-box-shadow: -28px 54px 0px 3px rgba(221,221,221,1);
    box-shadow: -28px 54px 0px 3px rgba(221,221,221,1);
}

.about__content {
    flex-basis: 60%;
    padding-top: 70px;
}

.about__content_title {
    margin-bottom: 30px;
}

.about__content_content {
    margin-bottom: 30px;
}

.slider {
    flex-basis: 100%;
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
}

.slider__item {
    flex-basis: 33.33%;
    padding: 10px;
    display: flex;
}

.slider__item_icon {
    padding: 5px 10px;
}

.slider__item_title {
    margin-bottom: 15px;
}

.slider__item_content {
    padding-left: 20px;
}

//portfolio
.portfolio {
    width: 100%;
    @include hexagonStyleSections($base-color, 21% 96%, 0 85%);
    padding: 300px 0 500px 0;
    position: relative;
    margin-top: -300px;
    z-index: -2;
}

.portfolio__title {
    margin-bottom: 10px;
}

.portfolio__category {
    list-style: none;
    margin-bottom: 30px;
}

.portfolio__category_item {
    display: inline-block;
    padding-right: 15px;
}

.portfolio__gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.portfolio__gallery_item {
    flex-basis: 33.33%;
    padding: 20px;
    padding-left: 0;
}

.portfolio__gallery_link {
    display: block;
    width: 100%;
    position: relative;
    &:hover {
        .portfolio__gallery_overlay {
            background: rgba(221, 221, 221, 0.5);
        }
        .portfolio__gallery_img {
            filter: blur(4px);
        }
        .portfolio__gallery_overlay_title {
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.portfolio__gallery_img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
}

.portfolio__gallery_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(221, 221, 221, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.portfolio__gallery_overlay_title {
    text-align: center;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

//blogs
.blogs {
    width: 100%;
    @include hexagonStyleSections($light-gray, 76% 96%, 0 85%);
    padding: 400px 0 400px 0;
    position: relative;
    z-index: -3;
    margin-top: -350px;
}

.blogs__items {
    display: flex;
    justify-content: space-between;
}

.blogs__title {
    margin-bottom: 30px;
    text-align: right;
}

.blogs__items_blog {
    flex-basis: 32%;
}

.blog__image {
    width: 100%;
}

.blog__title {
    margin: 30px 0;
}

.blog__body {
    margin-bottom: 30px;
}

.blogs__link {
    margin-top: 100px;
    text-align: right;
    padding-right: 100px;
}

.blogs__link_link {
    padding: 10px 10px;
    border: 1px solid $text-color;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: $black-color;
    }
}

.blogs__icon {
    padding-left: 20px;
}

//contact
.contact {
    padding: 100px 0;
}

.contact__info {
    flex-basis: 40%;
}

.contact__form {
    flex-basis: 60%;
}

.contact__info_title {
    padding-bottom: 50px;
}

.contact__info_details {
    list-style: none;
}

.contact__info_state {
    padding-bottom: 40px;
}

.contact__info_icons {
    padding-top: 40px;
}

//contact form
.form-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    .form-group {
        flex-basis: 50%;
        padding: 0 8px;
    }
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid $text-color;
    &:focus {
        border-color: $black-color;
    }
}

textarea {
    margin-top: 30px;
}

.form-submit {
    display: inline-block;
    padding: 10px 45px;
    background: transparent;
    border: 1px solid $black-color;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
        background: $black-color;
        color: $base-color;
    }
}

.form-group-button {
    text-align: right;
}