// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin typographyStyle(
  $font-family,
  $font-size,
  $font-weight,
  $font-color,
  $line-height
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $font-color;
}

@mixin underlineColor($underlines) {
  @each $underline in $underlines {
    @if ($underline == "underline_red") {
      & .#{$underline} {
        border: 2px solid $underline-red-color;
        width: 15%;
        display: inline-block;
      }
    } @else if ($underline == "underline_black") {
      & .#{$underline} {
        border: 2px solid $black-color;
        width: 15%;
        display: inline-block;
        margin-left: -1%;
      }
    }
  }
}
