// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//colors
$base-color: white;
$black-color: black;
$underline-red-color: #ff2b06;
$countdown-background-color: #E9E9E9;
$description-background-color: #F3F3F3;
$footer-copyright-color: #BCBCBC;
$speakers-topic-color: #616161;
$what-background-color: #FFFFFF;
$light-gray: lightgray;
$gray-color: gray;

//lists
$underlines: "underline_black", "underline_red";

//fonts
$sf-ultralight: SF;
$sf-regular: SF_regular;
$sf-bold: SF_bold;
